.item {
    all: unset;
    font-size: .7em;
    font-weight: 700;
    cursor: pointer;
    color: var(--text-primary-color);
    padding-left: 15px;
}
.item-disabled {
    all: unset;
    font-style: italic;
    font-size: .6em;
    font-weight: 700;
    padding-left: 15px;
    color:var(--text-secondary-color);
}