.categories-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}
.no-entries {
    color: var(--text-secondary-color);
    font-style: italic;
    padding: 10px;
}