.info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.info-body {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.info-name {
    font-size: 1.5em;
    padding: 0 10px;
}
.info-sub {
    font-size: .9em;
    padding: 10px;
}