:root {
    --primary-background:#2d6370;
    
    --text-primary-color:white;
    --text-secondary-color:#ccc;

    --input-focus-color:#81b6f0;

    --empty-status-color:white;
    --progress-status-color:rgba(230, 215, 82, 0.822);
    --completed-status-color:rgba(107, 230, 82, 0.822);

    --button-border-color:white;
    --button-text-color:white;
    --button-hover-border-color:#81b6f0;
    --button-hover-text-color:#81b6f0;

    --text-today-color:rgba(230, 215, 82, 0.822);
    --text-yesterday-color:rgba(207, 98, 107, 0.822);
    --text-default-color:white;

    --list-header-background-color:rgba(255, 255, 255, 0.3);
    --list-item-background-color:rgba(255, 255, 255, .1);
    --list-item-background-color-odd:rgba(0, 0, 0, 0.1);
    --list-item-bottom-border-color: rgba(255,255,255,.5);

    --remove-button-border:orange;
    --remove-button-color:orange;

    --popup-blackout-background: rgba(255, 255, 255, 0.2);
    --popup-background: #212121;
    --popup-text-color:#ececec;

    --popup-header-background:#171717;
    --popup-header-text-color:white;
    --popup-header-bottom-color:#ececec;

    --popup-footer-background:#171717;
    --popup-footer-text-color:black;
    --popup-footer-upper-color:#ececec;

    --popup-close-color:white;

    --popup-button-background:#d9534f;
    --popup-button-hover-background:#c9302c;
    --popup-button-text-color:white;

    --text-warning-color:#d9534f;


    --pomodoro-bar-color:white;
    --pomodoro-bar-background-color:rgba(0,0,0,.5);

    --pomodoro-height:60vw;
    --pomodoro-width:60vw;

    --pomodoro-height-max:400px;
    --pomodoro-width-max:400px;
}

body {
    background-color: var(--primary-background);
    color: var(--text-primary-color);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    height: auto;
    overflow-x: hidden;
}